/* Style Main */
a.navbar-brand {
    font-family: 'Open Sans';
    font-size: 1.5rem!important;
    line-height: 33px;
    letter-spacing: 0.1em;
}

a.nav-link{
    font-family: 'Open Sans';
    font-size: 0.75rem!important;
    line-height: 17px;
    letter-spacing: 0.1em;
}

.header-main {
    top:32%;
}

.header-main h1, .header-main h3 {
    font-family: 'Arial';
}

.scroll-main {
    bottom:5%;
    font-family: 'Open Sans';
    font-size: 0.8rem;
}

/* Style Gameplay & game feature Options */
.game-feature{
    top: 25%;
}

.text-game-1, 
.text-game-2{
    font-family: 'Arial';
}

.text-game-1{
    line-height: 27px;
    letter-spacing: 0.1em;
}

.text-game-2{
    line-height: 64px;
    letter-spacing: 0.06em;
}

.text-game-3{
    font-family: 'Open Sans';
    line-height: 22px;
}

/* All Size Style */
@media screen and (min-width: 992px) {
    /* Style Main */
    .header-main h1 {
        font-size: 4.5rem;
        letter-spacing: 0.1em;
    }
    .header-main h3 {
        font-size: 1.5rem;
        letter-spacing: 0.1em;
    }
    /* Style Gameplay Options */
    .text-game-1{
        font-size: 1.5rem!important;
    }
    .text-game-2{
        font-size: 3.5rem!important;
    }
    .text-game-3{
        font-size: 1.13rem!important;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* Style Main */
    .header-main h1 {
        font-size: 2.5rem;
        letter-spacing: 0.1em;
    }
    .header-main h3 {
        font-size: 1.2rem;
        letter-spacing: 0.1em;
    }
    /* Style Gameplay Options */
    .text-game-1{
        font-size: 1rem!important;
    }
    .text-game-2{
        font-size: 3rem!important;
    }
    .text-game-3{
        font-size: 0.7rem!important;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    /* Style Main */
    .header-main h1 {
        font-size: 2rem;
        letter-spacing: 0.1em;
    }
    .header-main h3 {
        font-size: 1rem;
        letter-spacing: 0.1em;
    }

    /* Style Gameplay Options */
    .text-game-1{
        font-size: 0.8rem!important;
    }
    .text-game-2{
        font-size: 2.5rem!important;
    }
    .text-game-3{
        font-size: 0.5rem!important;
    }
}